* {
  background-color: #2a5420; /* Background color: sort-of dark forest green */
}

body {
    font-family: "Optima", "Palatino Linotype", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff; /* Text color is pure white */
    line-height: 1px;
}

h1, h2 {
  font-family: "Optima", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fff; /* Text color is pure white */
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
  margin: 1px 1px;
}

h1.post-title {
  font-size: 1.7em;
  margin: 0 0 2em 0;
}
