/*
SCSS variables:
   $bg-dark-calm-green: #104b15;
   $bg-dark-gray: #505050;
   $bg-mint-green: #71e540;
   $pure-white: #fff;
   $gray: #606060;
   $light-gray:  #c0c0c0;
   $dark-gray: #233;
   $nav-border-color: #121;

   $nav-dropdown-height: 220px !default;

   $font-size: 16px;
   $nav-item-height: 3.25em;

   $screen-width: 1024px;
   $margin-left: 128px;

   $transition-time: .3s;
*/

/* Set the defaults for the tags */
body, h1, h2, h3, h4, h5, h6,
p, pre, ul, ol, blockquote,
figure  {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Optima", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #505050; /* Background color: dark gray */
}

body, h1, h2 {
  font-size: 1em;
  font-weight: normal;
  color: #fff; /* Text color is pure white */
  line-height: 1.25em;
}

body {
  background: #104b15;
}

.wrapper { /* wrapper class settings */
  left: calc(64px);
  right: calc(64px);
  max-width: -webkit-calc(screen - 128px);
  max-width: calc(screen - 128px);
  background: #104b15;
  margin: 0 auto 0 auto; /* Set left and right margin automatically */
  float: center;
  padding: 1em;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  z-index: 3;
}

.web-footer {
  background: #104b15;
  font-size: 0.8em;
  text-align: center;
  clear: both;
  margin: 2rem;
  padding: 1em;
}

a { /* Links on post */
  text-decoration: underline;
  color: #fff; /* Linked text is pure white */
}

a:hover {
  text-decoration: none;
}

img.banner {
  width: auto;
  height: 100%;
  margin: 0 0 1em 0;
  line-height: 1em;
  box-shadow: 2px 2px #121;
}

img.banner:hover {
  background: #121;
}

/* Code formatting */
/*pre, code {
  border: 1px solid #c0c0c0;
  border-radius: 0.3em;
  background-color: #c0c0c0;
}

pre {
  padding: 8px 12px;
}

code {
  padding: 1px 4px;
}*/

h1.title {
  text-align: center;
  line-height: 1em;
}

.home-link { /* For the header title */
  text-decoration: none;
}

.nav-bar {
   display: inline; /* Make nav bar horizontally oriented */
   float: left;
   background: #121;
   box-sizing: border-box; /* Nav bar measured based on border */
   padding: 1em;
   z-index: 3;
}

nav.nav-bar {
  width: 100%; /* Take up the screen within the wrapper. */
  border: 1px solid #121; /* Border color is dark gray */
  border-radius: 0.25em; /* Rounds out corners */
  margin: 1em 0 1em 0;
}

.nav-bar ul.nav-list {
  background-color: #121;
  clear: both; /* Move nav links below navicon */
  list-style-type: none; /* Take out bullets in list */
  overflow: hidden; /* Prevent nav links from overflow of bar when dropped-down */
  padding: 0;  /* Ensures link is clickable if not hovering on text */
}

.nav-bar li a {
  font-size: 1em;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #c0c0c0; /* Text color is light gray */
  background: #121;
  padding: 1em;
}

.nav-bar li a:hover {
  background-color: #505050; /* Background color is dark gray */
  color: #fff; /* Text color is pure white */
}

.nav-menu {
  display: block;
  cursor: pointer;
  float: right;
  width: 2em;
  height: 1em;
  border: 0.09em solid #c0c0c0;
  border-radius: 0.25em;
  background: #121;
  padding: 1em;
}

.nav-menu .nav-icon { /* Draw center line of the navicon */
  position: relative;
  display: block;
  float: right;
  width: 2em;
  height: 0.25em;
  top: 6px;
  z-index: 1;
  transition: .3s ease-out;
  background: #c0c0c0;
  opacity: 0.7;
}

.nav-menu .nav-icon:before,
.nav-menu .nav-icon:after {
  position: absolute;
  content: ""; /* This pseudo element allows lines above/below navicon */
  display: block;
  float: right;
  width: inherit;
  height: inherit;
  transition: inherit;
  background: #c0c0c0;
}

.nav-menu .nav-icon:before {
  bottom: -10px;
}

.nav-menu .nav-icon:after {
  bottom: 10px;
}

.nav-menu:hover,
.nav-menu .nav-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-menu:active {
  background: #505050;
}

.nav-check {
  display: none;
}

.nav-check ~ ul.nav-list {
  height: 0;
  opacity: 0;
  /* Setup transitions per browser */
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.nav-check:checked ~ ul.nav-list {
  height: 13em; /* 13em = 208 px = (52px = 3.25em) * 4px */
  opacity: 1;
  /* Setup transitions per browser */
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.page-content {
  width: 100%;
}

.content-wrapper {
  line-height: 1.5em;
  clear: both;
  display: inline;
  float: left;
  overflow: auto;
}

.entry-link-wrapper {
  clear: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1em;
  overflow: auto;
}

.entry-link-top {
  border: 1px solid #121;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background: #121;
  border-bottom: 1px solid #505050;
  display: flex;
  padding: 1em;
}

.entry-link-bottom {
  border: 1px solid #121;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background: #121;
  display: flex;
  padding: 2px;
  padding-left: 1em;
}

.entry-title a {
  text-decoration: none;
}

.entry-title a:hover {
  text-decoration: underline;
}

.entry-meta {
  font-size: 0.9em;
}

@media screen and (max-width: 30em) {
  h1.title {
    font-size: 2em;
  }
  h2.entry-title {
    font-size: 1.5em;
  }
  .wrapper {
    left: auto;
    right: auto;
  }
}

@media screen and (min-width: 30em) and
(max-width: 48em) {
  h1.title {
    font-size: 2.25em;
  }
  h2.entry-title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 48em) {
  .nav-bar {
    padding: 0 1em;
  }
  .nav-bar ul.nav-list {
    /* Ensure links are in same row, not moved down */
    display: flex;
    height: 3.25em; /* Each nav link is 3.25em high */
    opacity: 1;
  }
  .nav-check:not(:checked) ~ ul.nav-list,
  .nav-check:checked ~ ul.nav-list {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
  .nav-menu {
    display: none;
  }
  img {
    overflow: hidden;
  }
}

@media screen and (min-width: 48em)
and (max-width: 64em) {
  h1.title {
    font-size: 2.5em;
  }
  h2.entry-title {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 64em) {
  h1.title {
    font-size: 2.75em;
  }
  h2.entry-title {
    font-size: 2em;
  }
}

@media screen and (min-width: 90em) {
  h1.title {
    font-size: 3em;
  }
  h2.entry-title {
    font-size: 2.5em;
  }
}

h3, p {
  font-family: "Optima", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 0 1em 0;
}

p.home {
  font-size: 1em;
  text-decoration: underline;
  line-height: 1.5em;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
