/* $bg-dark-calm-green: #205425;
   $bg-mint-green: #71e540;
   $pure-white: #fff;
   $light-gray:  #808080;
   $nav-border-color: #121;
*/

* {
  background-color: #205425; /* Background color: dark calm green */
}

a { /* Links in-site */
  text-decoration: underline;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

body, h1, h2 {
    font-family: "Optima", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: #fff; /* Text color is pure white */
    line-height: 1.25em;
}

.home-link { /* For the header title */
  text-decoration: none;
}

.nav-bar {
   text-align: left;
   text-decoration: none;
   -webkit-box-layout: 1em;
}

nav.nav-bar {
  border: 1px solid #121; /* Border color is dark gray */
  border-radius: 0.25em; /* Rounds out corners */
  background-color: #121;
  margin: 0 0 1em 0;
}

ul.nav-bar {
  list-style-type: none; /* Take out bullets in list */
  display: flex; /* Make items in list horizontally */
  flex-wrap: wrap; /* Wrap items in nav bar */
}

li.nav-bar {
  font-family: "Optima", Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  display: inline;
}

a.active {
  text-align: center;
  color: #808080; /* Text color is light gray */
}

a.active:hover {
  color: #fff; /* Text color is pure white */
}

h1.title {
  text-align: center;
  line-height: 1em;
}

@media (min-width: 16em) {
  h1.title {
    font-size: 2em;
  }
  h2.entry-title {
    font-size: 1em;
  }
}

@media (min-width: 32em) {
  h1.title {
    font-size: 2.25em;
  }
  h2.entry-title {
    font-size: 1.25em;
  }
}

@media (min-width: 48em) {
  h1.title {
    font-size: 2.5em;
  }
  h2.entry-title {
    font-size: 1.5em;
  }
}

@media (min-width: 64em) {
  h1.title {
    font-size: 2.75em;
  }
  h2.entry-title {
    font-size: 1.75em;
  }
}

/*.post-wrapper {
    border: 1px solid #121; /* Make a solid dark border
    display: flex;
    flex-wrap: wrap;
}*/

.post-title {
  font-size: 1.75em;
  text-decoration: none;
  margin: 0 0 1em 0;
}

.post-title:hover {
  text-decoration: underline;
}

.entry-title {
  line-height: 1em;
}

h2.entry-title {
  font-size: 1.75em;
}

p {
  font-size: 1em;
  margin: 0 0 1em 0;
}

p.home {
  font-size: 1em;
  text-decoration: underline;
  line-height: 1.5em;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  text-align: center;
  margin: 0 0 2em 0;
}
