/* $bg-forest-green: #2a5420;
   $bg-mint-green: #71e540;
   $text-white: #fff;
   $text-gray: #808080;
   $nav-border-color: #111;
*/

* {
  background-color: #2a5420; /* Background color: sort-of dark forest green */
}

a { /* Links in-site */
  text-decoration: underline;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.home-link { /* For the header title */
  text-decoration: none;
}

body {
    font-family: "Optima", "Palatino Linotype", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff; /* Text color is pure white */
    line-height: 1.25em;
}

nav.home-nav {
    font-family: "Optima", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: left;
    border: 1px ridge #111; /* Border color is black */
    -webkit-box-layout: 1em;
    color: #808080; /* Text color is dark gray */
    text-decoration: none;
}

nav.home-nav:hover {
    color: #fff; /* Text color is pure white */
}

ul.home-nav-bar {
    list-style-type: none;
}

h1, h2 {
  font-family: "Optima", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #fff; /* Text color is pure white */
}

h1 {
  font-size: 2.75em;
}

h1.title {
  text-align: center;
}

h1.post-title {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
  margin: 0 0 1em 0;
}

p.home {
  font-size: 1em;
  text-decoration: underline;
  line-height: 1.5em;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  text-align: center;
  margin: 0 0 2em 0;
}
