//- entry.pug - Layout for entries/posts.
extends layout.pug

include mixin.pug

block content
  article
    div.entry-wrapper
      header.entry-header
        h2.entry-title= title
        h3.entry-meta
          = 'Written on ' + date.format("dddd, MMMM Do, YYYY")
          br
          = readingTime + ' read'
          
      div.entry-content
        != contents

      +comments

block footer
  +homefooter
