footer.web-footer
  div
    p.copyright
      | Powered by 
      a(href=generatorurl)= generator
      | . &copy; 2017-#{new Date().getFullYear()} 
      a(href=site.url)= name
      | . All works herein are licensed under 
      a(href=licenseurl)= license
      | .