//- home.pug - Home page layout.
extends layout.pug

include mixin.pug

block content
  article
    div.content-wrapper
      for entry in collections.liveblogs
        +entrylink(entry.path,entry.title,entry.date)
