//- _layouts/home.pug - Home page layout.
extends layout.pug

block body
  body
    include header.pug
    
    include nav.pug
  
    main.page-content(aria-label='Content')
      div.wrapper
        div!= contents
        
    include footer.pug
