//- _layouts/home.pug - Home page layout.
extends layout.pug

block body
  body
    div.wrapper
      include header.pug
  
      main.page-content(aria-label='Content')
        div!= contents
        
      include footer.pug
