//- mixin.pug - Mixins for website.
//- mixin for navbar links
mixin navlink(path,name)
  li
    a(href='/' + path)= name

//- mixin for entry links
mixin entrylink(path,name,date)
  article
    div.entry-link-wrapper
      div.entry-link-top
        header.entry-header
          h2.entry-title
            a(href='/' + path)= name
      div.entry-link-bottom
        time.entry-meta(datetime=date)= date.format("dddd, MMMM Do, YYYY")

//- mixin for pagination
mixin paginate
  nav.nav-pag
    if pagination.previous
      a(href='/' + pagination.previous.path)
        | Newer &raquo;
    if pagination.next
      a(href='/' + pagination.next.path)
        | &laquo; Older
