//- nav.pug - Navigation bar layout.
//- mixin for navbar links
mixin navlink(path,name)
  li.nav-bar
    a(href='/' + path class={active: name === current})= name
    
nav.nav-bar
  ul.nav-bar
    for entry in collections
      +navlink(entry.path,entry.name)
