//- nav.pug - Navigation bar layout.
//- mixin for navbar links
mixin navlink(path,name)
  li
    a(href='/' + path)= name
    
nav.nav-bar    
  input.nav-check(id='nav-check' type='checkbox')
  label.nav-menu(for='nav-check')
    span.nav-icon
  
  -var links = {'':'Home', 'liveblogs/':'Liveblogs', 'transcripts/':'Transcripts', 'trivia/':'Trivia'};
  
  ul.nav-list
    for name, link in links 
      +navlink(link,name)
