//- page.pug - Layout for pages.
extends layout.pug

block content
  article
    div.page-wrapper
      header.page-header
        h2.page-title= title

      != contents
      
block footer
  footer.web-footer
    div
      p.home
        a.home-link(href='/') Home
