//- layout.pug - The default page layout.
doctype html
html(lang='en')
  head
    include head.pug

  body
    include header.pug

    main.page-content(aria-label='Content')
      div.wrapper
        = contents
          
    include footer.pug
