//- _layouts/page.pug
extends home.pug

article
  div(class='page-wrapper')
    
    header(class='page-header')
      h1(class='page-title')
        
    div(class='page-content')
      block content
