//- _layouts/post.pug
extends home.pug

block content
  article
    div.post-wrapper
    
      header.post-header
        h1.post-title
        h2.post-meta
        
      div.post-content
        p= contents
