//- post.pug
include ../_includes/head.pug

body
  article
    div(class="wrapper")
      header
        include ../_includes/header.pug
        h1(class="post-title").
      p
        block content
      footer
        include ../_includes/footer.pug
